<launch>
	<node name="stage" pkg="stage_ros" type="stageros" args="$(find se306project)/world/orchard.world"/>

	<group ns="robot_0">
		<node pkg="se306project" name="pickernode" type="PickerRobot"/>
	</group>

	<group ns="robot_1">
		<node pkg="se306project" name="pickernode" type="PickerRobot"/>
	</group>
	
	<group ns="robot_2">

		<node pkg="se306project" name="carriernode" type="CarrierRobot"/>
	</group>

	<group ns="robot_3">
		<node pkg="se306project" name="dognode" type="Animal"/>
	</group>

    <group ns="robot_4">
        <node pkg="se306project" name="alphaPersonnode" type="AlphaPerson"/>
    </group>
</launch>
